<div class="main">
    <a href="http://vk.com"><img class="logo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/21/VK.com-logo.svg/800px-VK.com-logo.svg.png"></a>
    <form>
        <input placeholder="ФИО" name="name" class="input" type="text">
        <input placeholder="Email" name="email" class="input" type="email">
        <input placeholder="Password" name="password" class="input" type="password">
        <input name="date" class="input" type="date">
        <button class="button">Подтвердить</button>
    </form>
</div>
